__pycache__/
.coverage
.DS_Store
.env
.exrc
.idea
.mypy_cache/
.mnamer-v2.local.json
.pytest_cache/
.vimrc
.vs
.vscode
AGENTS.md
.mnamer-v2.json
*.egg-info/
*.json
!.mnamer-v2.example.json
*.log
*.py[cod]
*$py.class
build
coverage.xml
demo/
dist/
MANIFEST
mnamer/__version__.py
playground.py
testing/test_files_*
venv*
